#parse( "templates/IncludeTop.vm" )

<!-- account.listOption -->

<script type="text/javascript">
	function viewItem(itemid){
		//...
		//"/catalog/viewItem" itemId:itemId
		$("#viId").val(itemid)
		$("#viForm").submit()
	}
	function removeItem(itemid){
		//...
		//"/catalog/removeItemFromCart" cartItem:itemId
		$("#riId").val(itemid)
		$("#riForm").submit()
	}
</script>

<div id="BackLink"><a href="/actions/Catalog.action">Return to Main Menu</a></div>

<div id="Catalog">

<div id="Cart">

	<h2>Shopping Cart</h2>

	<form method="post" id="viForm" action="/catalog/viewItem">
		<input type="hidden" id="viId" name="itemId" value="?"/>
	</form>

	<form method="post" id="riForm" action="/cart/removeItemFromCart">
		<input type="hidden" id="riId" name="workingItemId" value="?"/>
	</form>

	<form method="post" action="/cart/updateCartQuantities">
		<table>
			<tr>
				<th><b>Item ID</b></th>
				<th><b>Product ID</b></th>
				<th><b>Description</b></th>
				<th><b>In Stock?</b></th>
				<th><b>Quantity</b></th>
				<th><b>List Price</b></th>
				<th><b>Total Cost</b></th>
				<th>&nbsp;</th>
			</tr>
			#foreach ( $cartItem in $cart.cartItems )
				<tr>
					<td>
				  		<input type="button" value=$cartItem.item.itemId onclick='viewItem("$cartItem.item.itemId")' /> 
					</td>
					<td>
						#evaluate($cartItem.product.productId)
					</td>
					<td>$cartItem.item.attribute1 $cartItem.item.attribute2
					$cartItem.item.attribute3 $cartItem.item.attribute4
					$cartItem.item.attribute5 $cartItem.product.name</td>
					<td>$cartItem.inStock</td>
					<td><input type="text" size="3" name="$cartItem.item.itemId"
						value="$cartItem.quantity" /></td>
					<td>$cartItem.item.listPrice</td>
					<td>$cartItem.total</td>
					<td>
	            		<input type="button" value="Remove" onclick='removeItem("$cartItem.item.itemId")' /> 
	        		</td>
				</tr>
			#end
			#if ( $cart.cartItems.size() == 0 )
				<tr>
					<td colspan="8"><b>Your cart is empty.</b></td>
				</tr>
			#end
			<tr>
				<td colspan="7">Sub Total: $ $cart.subTotal
					<input type="submit" value="Update Cart"/> 
				</td>
				<td>&nbsp;</td>
			</tr>
		</table>
	</form>

	#if ($cart.cartItems.size() > 0)
	<form method="post" action="/order/newOrderForm">
		<input type="submit" value="Proceed to Checkout"/>
	</form>
	#end

</div>

<div id="MyList">
	#if ($authenticated)
		#if ($account.listOption)
			#parse( "templates/IncludeMyList.vm" )
		#end
	#end
</div>

<div id="Separator">&nbsp;</div>
</div>

#parse( "templates/IncludeBottom.vm" )