#parse( "templates/IncludeTop.vm" )

<div id="Catalog">
<form method="post" action="/account/editAccount">

	<h3>User Information</h3>

	<table>
		<tr>
			<td>User ID:</td>
			<td>
				$account.username
			</td>
		</tr>
		<tr>
			<td>New password:</td>
			<td><input type="text" name="password" /></td>
		</tr>
		<tr>
			<td>Repeat password:</td>
			<td><input type="text" name="repeatedPassword" /></td>
		</tr>
	</table>

	#parse( "templates/IncludeAccountFieldsEdit.vm" )

	<input type="submit" name="editAccount" value="Save Account Information" />

</form>
<a href="/order/listOrders"> My Orders </a>
</div>

#parse( "templates/IncludeBottom.vm" )