<h3>Account Information</h3>

<table>
	<tr>
		<td>First name:</td>
		<td><input type="text" name="account.firstName" value="$account.firstName" /></td>
	</tr>
	<tr>
		<td>Last name:</td>
		<td><input type="text" name="account.lastName" value="$account.lastName"  /></td>
	</tr>
	<tr>
		<td>Email:</td>
		<td><input type="text" size="40" name="account.email" value="$account.email"  /></td>
	</tr>
	<tr>
		<td>Phone:</td>
		<td><input type="text" name="account.phone" value="$account.phone"  /></td>
	</tr>
	<tr>
		<td>Address 1:</td>
		<td><input type="text" size="40" name="account.address1" value="$account.address1"  /></td>
	</tr>
	<tr>
		<td>Address 2:</td>
		<td><input type="text" size="40" name="account.address2" value="$account.address2"  /></td>
	</tr>
	<tr>
		<td>City:</td>
		<td><input type="text" name="account.city"  value="$account.city" /></td>
	</tr>
	<tr>
		<td>State:</td>
		<td><input type="text" size="4" name="account.state"  value="$account.state" /></td>
	</tr>
	<tr>
		<td>Zip:</td>
		<td><input type="text" size="10" name="account.zip"  value="$account.zip" /></td>
	</tr>
	<tr>
		<td>Country:</td>
		<td><input type="text" size="15" name="account.country"  value="$account.country" /></td>
	</tr>
</table>

<h3>Profile Information</h3>

<table>
	<tr>
		<td>Language Preference:</td>
		<td><select name="account.languagePreference">
			<option
			#if ( $account.languagePreference == "english" )
				selected
			#end
			>english</option>
			<option
			#if ( $account.languagePreference == "japanese" )
				selected
			#end
			>japanese</option>
		</select></td>
	</tr>
	<tr>
		<td>Favourite Category:</td>
		<td><select name="account.favouriteCategoryId">
			<option
			#if ( $account.favouriteCategoryId == "FISH" )
				selected
			#end
			>FISH</option>
			<option
			#if ( $account.favouriteCategoryId == "DOGS" )
				selected
			#end
			>DOGS</option>
			<option
			#if ( $account.favouriteCategoryId == "REPTILES" )
				selected
			#end
			>REPTILES</option>
			<option
			#if ( $account.favouriteCategoryId == "CATS" )
				selected
			#end
			>CATS</option>
			<option
			#if ( $account.favouriteCategoryId == "BIRDS" )
				selected
			#end
			>BIRDS</option>
		</select></td>
	</tr>
	<tr>
		<td>Enable MyList</td>
		<td><input type="checkbox" name="account.listOption" 
		#if ( $account.listOption != 0 )
			checked
		#end
		/></td>
	</tr>
	<tr>
		<td>Enable MyBanner</td>
		<td><input type="checkbox" name="account.bannerOption"
		#if ( $account.bannerOption != 0 )
			checked
		#end 
		/></td>
	</tr>

</table>
