#parse( "templates/IncludeTop.vm" )

<div id="Catalog">
<form method="post" action="/account/newAccount">

	<h3>User Information</h3>

	<table>
		<tr>
			<td>User ID:</td>
			<td><input type="text" name="username" /></td>
		</tr>
		<tr>
			<td>New password:</td>
			<td><input type="text" name="password" /></td>
		</tr>
		<tr>
			<td>Repeat password:</td>
			<td><input type="text" name="repeatedPassword" /></td>
		</tr>
	</table>

	#parse( "templates/IncludeAccountFields.vm" )

	<input type="submit" name="newAccount" value="Save Account Information" />

</form></div>

#parse( "templates/IncludeBottom.vm" )