#parse( "templates/IncludeTop.vm" )

<div id="BackLink">
<a href="/actions/Catalog.action">Return to Main Menu</a>
</div>

<div id="Catalog">

<table>
	<tr>
		<th>&nbsp;</th>
		<th>Product ID</th>
		<th>Name</th>
	</tr>
	#foreach ($product in $productList)
		<tr>
			<td>
				$product.description
			</td>
			<td>
				<form style="display: inline" method="post" action="/catalog/viewProduct">
						<input type="hidden" name="productId" value="$product.productId"/> 
						<input type="submit" value="$product.productId"/> 
				</form>
			</td>
			<td>$product.name</td>
		</tr>
	#end
	<tr>
		<td></td>
	</tr>

</table>

</div>

#parse( "templates/IncludeBottom.vm" )




